    /*!
 Theme Name:   Lernable
 Theme URI:    http://localhost/wordpress
 Description:  Lernable website
 Author:       Lernable
 Author URI:   mingweichan.com
 Template:     storefront
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  
*/
    
    //RESET CSS
    html,
    body,
    div,
    span,
    applet,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    a,
    abbr,
    acronym,
    address,
    big,
    cite,
    code,
    del,
    dfn,
    em,
    img,
    ins,
    kbd,
    q,
    s,
    samp,
    small,
    strike,
    strong,
    sub,
    sup,
    tt,
    var,
    b,
    u,
    i,
    center,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td,
    article,
    aside,
    canvas,
    details,
    embed,
    figure,
    figcaption,
    footer,
    header,
    hgroup,
    menu,
    nav,
    output,
    ruby,
    section,
    summary,
    time,
    mark,
    audio,
    video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        vertical-align: baseline;
    }
    
    //UNIVERSAL CSS
    strong {
        font-weight: 400;
    }
    
    a:focus,
    .focus a {
        outline: none !important;
    }
    
    .button:focus {
        outline: none;
    }
    /* HTML5 display-role reset for older browsers */
    
    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    menu,
    nav,
    section {
        display: block;
    }
    
    html {
        min-height: 100%;
        position: relative;
    }
    
    body {
        line-height: 16pt;
        margin: 0;
    }
    
    ol,
    ul {
        list-style: none;
    }
    
    blockquote,
    q {
        quotes: none;
    }
    
    blockquote:before,
    blockquote:after,
    q:before,
    q:after {
        content: '';
        content: none;
    }
    
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    
    *,
    *:before,
    *:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    @import 'sasspartials/_typography';
    //Actually all the type is being controlled by a google fonts plugin because open sans is being a bitch.
    @import 'sasspartials/_colours';
    @import 'sasspartials/_navbar';
    @import 'sasspartials/_home';
    @import 'sasspartials/_listing';
    @import 'sasspartials/_tandp';
    @import 'sasspartials/_footer';
    @import 'sasspartials/_billing';
    @import 'sasspartials/_calendar';
    @import 'sasspartials/_receipt';
    @import 'sasspartials/_review';
    @import 'sasspartials/_howitworks';
    @import 'sasspartials/_becomeahost';
    //UNIVERSAL CSS
    a:focus,
    .focus a {
        outline: none !important;
    }
    
    .col-full {
        padding: 0;
        margin: 0;
        max-width: 100%;
    }
    
    .woocommerce-breadcrumb {
        display: none;
    }
    
    #secondary,
    #primary {
        float: none;
        display: inline-block;
    }
    
    #secondary {
        width: 0;
    }
    
    .custom-logo-link {
        width: 50%;
        transform: translateY(25%);
    }
    
    .site-header {
        padding-top: 0;
    }
    
    .woocommerce-breadcrumb {
        display: none;
    }
    
    #site-header-cart {
        display: none;
    }
    
    #site-navigation {
        width: 100%;
        margin-right: 0;
    }
    
    .content-area {
        width: 100%;
        margin-right: 0;
    }
    
    .woocommerce-error {
        margin-top: 60px;
    }
    
    .star-rating {
        color: $secondary-accent;
        span:before {
            color: $secondary-accent;
        }
    }

//ERROR AND WOOCOMMERCE MESSAGING
.woocommerce-error{
    margin-bottom: 0;
    border-left: 0;
    border-radius: 30px;
    background: linear-gradient(248.83deg, #FFDC7E 0%, #FFB648 100%);
}

    /*

    .storefront-primary-navigation {
        clear: both;
        background: none;
        margin-left: 0px;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
        width: 60%;
        display: inline-block;
    }
    .site-header .site-branding {
        display: inline-block;
        width: 40%;
        margin: 0;
    }

    .site-info {
        padding: 2.6em 10%;
    }

    p.datetime {
        line-height: 30pt;
        display: inline-block;
    }
    .main-navigation ul.nav-menu>li>a {
        padding: 1.618em 2em;
        color: #404040;
    }
    
    .main-navigation ul.nav-menu>li>a:hover {
        color: grey;
    }
    
    .widget-area {
        width: 0;
    }
    
    .right-sidebar {
        width: 0;
    }*/
    /*div.woocommerce-variation-add-to-cart.variations_button {
        display: inline-block;
    }*/