        .home-hero.become-a-host2 {
        background-image: url("https://lernable.com/wp-content/uploads/2017/10/kalegin-michail-179870-copy.png");
        height: 500px;
        margin-top: 60px;
        padding: 170px 10%;
        @include font($light...);
        color: white;
        text-align: center;
        h2 {
            color: white;
            font-size: 36px;
            text-align: center;
        }
        .call-to-action {
            background: linear-gradient(248.83deg, #FFDC7E 0%, #FFB648 100%);
            border-radius: 34px;
            height: 40px;
            text-align: center;
            color: white;
            font-size: 14px;
            position: relative;
            margin-top: 20px;
            width: 100px;
            width: fit-content;
            display: inline-block;
            -webkit-transition: opacity 1s;
            /* Safari */
            transition: opacity 1s;
            a {
                color: white;
                display: table-cell;
                line-height: 8px;
                height: 40px;
                padding: 0 15px;
                vertical-align: middle;
            }
        }
        .call-to-action:hover {
            opacity: .7;
        }
    }
    
    .home-hero.become-a-host {
        background-image: none;
        height: auto;
        margin-top: 60px;
        padding: 0;
        .hero-button-container {
            height: 320px;
            .summary-bubble {
                height: 325px;
                width: -webkit-fill-available;
                border-radius: 0;
                background: linear-gradient(248.83deg, #FFDC7E 0%, #FFB648 100%);
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);
                margin: 0;
                padding: 30px;
                color: #FFFFFF;
                @include font($light...);
                font-size: 36px;
                line-height: 49px;
                position: relative;
                .small-caps {
                    @include font($bold...);
                    font-size: 14px;
                    font-weight: bold;
                    line-height: 19px;
                    margin-bottom: 5%;
                }
                .call-to-action {
                    border: 1px solid white;
                    border-radius: 34px;
                    height: 40px;
                    text-align: center;
                    color: white;
                    font-size: 14px;
                    position: absolute;
                    bottom: 30px;
                    width: auto;
                    -webkit-transition: background-color 1s;
                    /* Safari */
                    transition: background-color 1s;
                    a {
                        color: white;
                        display: table-cell;
                        line-height: 8px;
                        height: 40px;
                        width: auto;
                        vertical-align: middle;
                        padding: 0 15px;
                    }
                }
            }
            .call-to-action:hover {
                background-color: rgba(255, 255, 255, 0.3);
            }
            p:nth-child(2) {
                margin-bottom: 40%;
            }
        }
    }
    
    .become-a-host.margin {
        .all-steps-container {
            display: block;
        }
        .become-illo2 {
            transform: translateY(-250px);
        }
        .first-illo {
            width: 300px;
        }
        .secondb-illo {
            width: 35%;
            display: inline-block;
        }
        .second-illo {
            
        }
        .text-p {
            width: calc(100% - 80px);
            margin-top: 11px;
            h2 {
                line-height: 24px;
            }
            
        }
        .steps-container p{
                display: block;
                font-size: 14px;
            margin-top: 33px;
            @include font($light...);
            }
        .text-p-container {
            margin-top: 40px;
            width: 80%;
            margin-left: 20%;
            transform: translateY(-100%);
        }
        .illo {
            display: none;
        }
        #steps-second{
            margin-top: 50px;
        }
        #steps-first {
            margin-top: 50px;
            .text-p{
                margin-top: 0;   
            }
            .call-to-action {
                background: linear-gradient(248.83deg, #FFDC7E 0%, #FFB648 100%);
                border-radius: 34px;
                height: 40px;
                text-align: center;
                color: white;
                font-size: 14px;
                position: relative;
                box-shadow: 0 2px 4px 0 rgba(0,0,0,0.11);
                margin: 50px auto 0;
                width: 100px;
                width: fit-content;
                display: block;
                -webkit-transition: opacity 1s;
                /* Safari */
                transition: opacity 1s;
                a {
                    color: white;
                    display: table-cell;
                    line-height: 8px;
                    height: 40px;
                    padding: 0 15px;
                    vertical-align: middle;
                }
            }
            .call-to-action:hover {
                opacity: .7;
            }
        }
}
        @media only screen and (min-width: 768px) {
            .home-hero.become-a-host {
                background-image: url("https://lernable.com/wp-content/uploads/2017/10/maricelle.png");
                height: 500px;
                padding: 70px 0;
                .hero-button-container .summary-bubble {
                    width: 300px;
                    margin-left: 15%;
                    border-radius: 26px;
                    margin: 0 15%;
                }
            }
            .become-a-host.margin {
                .all-steps-container {
                    display: none;
                }
                .illo {
                    display: block;
                }
                #steps-first {
                    margin-top: 100px;
                }
                .text-p {
                    width: calc(100% - 440px);
                }
            }
        }
