    #post-6 {
        padding: 0 24px;
        .checkout {
            margin-top: 60px;
            .page-title {
                @include font($light...);
                font-size: 36px;
                padding-top: 40px;
                padding-bottom: 10px;
            }
            .page-title-tag {
                display: block;
                padding-bottom: 10px;
            }
            .checkout-top {
                #order_review {
                    @include font($light...);
                    float: none;
                    display: inline-block;
                    width: 100%;
                    border: 0.8px solid #B6B6B6;
                    border-radius: 5px;
                    vertical-align: top;
                    color: black;
                    .order-review-container {
                        padding: 10px 15px;
                        .product-name {
                            font-size: 22px;
                            font-weight: 400;
                            line-height: 30px;
                            color: $text-accent;
                            margin-bottom: 15px;
                        }
                        .with-host {
                            font-size: 16px;
                            line-height: 25px;
                        }
                        .duration {
                            font-size: 16px;
                            padding-bottom: 25px;
                        }
                        .total-price {
                            font-size: 20px;
                            font-weight: 400;
                            line-height: 25px;
                            color: $text-accent;
                        }
                        .date {
                            font-size: 15px;
                            line-height: 30px;
                        }
                        .time {
                            font-size: 14px;
                            padding-bottom: 14px;
                        }
                        .location {
                            font-size: 13px;
                            line-height: 30px;
                        }
                        .languages {
                            font-size: 13px;
                        }
                    }
                }
                .col2-set {
                    vertical-align: top;
                    float: none;
                    display: inline-block;
                    margin-top: 20px;
                    padding: 0;
                    width: 100%;
                    .billing-terms {
                        @include font($light...);
                        font-size: 14px;
                        padding: 15px 0 30px;
                        line-height: 20px;
                       
                    }
                    .col-1 {
                        margin-bottom: 0;
                        .woocommerce-billing-fields {
                            @include font($light...);
                            .woocommerce-billing-fields__field-wrapper {
                                .new-feature {
                                    margin: 10px 0;
                                }
                            }
                            h3 {
                                font-size: 24px;
                                padding-bottom: 15px;
                                padding-bottom: 15px;
                            }
                            .form-row {
                                margin-bottom: 8px;
                                display: inline-block;
                                margin-right: 10px;
                                float: none;
                                width: 100%;
                                label {
                                    @include font($light...);
                                    font-size: 12px;
                                    color: black;
                                }
                                abbr.required {
                                    display: none;
                                }
                                .input-text {
                                    @include font($light...);
                                    box-shadow: none;
                                    background-color: transparent;
                                    border: 0.8px solid #B6B6B6;
                                    border-radius: 2px;
                                    font-size: 14px;
                                    height: 32px;
                                    font-weight: 500;
                                    color: $text-accent;
                                }
                            }
                            #billing_first_name_field {
                                width: calc(50% - 5px);
                            }
                            #billing_last_name_field {
                                width: calc(50% - 5px);
                                margin-right: 0;
                            }
                            #billing_email_field {
                                width: 100%;
                            }
                        }
                    }
                    .col-2 {
                        margin-bottom: 0;
                    }
                    .payment-methods-container {
                        margin: 0;
                        padding: 10px 0;
                        width: 382px;
                        .payment-method-braintree_credit_card {
                            display: inline-block;
                            input {
                                vertical-align: middle;
                            }
                            label {
                                @include font($light...);
                                font-size: 12px;
                                color: black;
                                margin-left: 3px;
                                img {
                                    display: inline-block;
                                    padding-top: 3px;
                                    margin-bottom: -5px;
                                }
                            }
                        }
                        .payment-method-braintree_paypal {
                            display: inline-block;
                            padding-left: 5px;
                            input {
                                vertical-align: middle;
                            }
                            label {
                                @include font($light...);
                                font-size: 12px;
                                color: black;
                                margin-left: 3px;
                                img {
                                    display: inline-block;
                                    width: 80px;
                                    margin-left: 5px;
                                    margin-bottom: -5px;
                                }
                            }
                        }
                    }
                    .wc_payment_method {
                        .payment_method_braintree_paypal {
                            padding-top: 12px;
                            margin-bottom: -8.7px;
                        }
                        .payment_box {
                            p {
                                display: none;
                            }
                            fieldset {
                                background-color: transparent;
                                .wc-braintree-hosted-field-card-number-parent {
                                    display: inline-block;
                                    width: 100%;
                                    padding: 0;
                                    margin-right: 7px;
                                    label {
                                        @include font($light...);
                                        font-size: 12px;
                                        color: black;
                                        abbr.required {
                                            display: none;
                                        }
                                    }
                                    .wc-braintree-hosted-field-card-number {
                                        height: 32px;
                                        border: 0.8px solid #B6B6B6;
                                        border-radius: 2px;
                                        padding-left: 8px;
                                    }
                                }
                                .wc-braintree-hosted-field-card-expiry-parent {
                                    display: inline-block;
                                    width: calc(50% - 5px);
                                    float: none;
                                    margin-right: 6px;
                                    padding-right: 0;
                                    label {
                                        @include font($light...);
                                        font-size: 12px;
                                        color: black;
                                        abbr.required {
                                            display: none;
                                        }
                                    }
                                    .wc-braintree-hosted-field-card-expiry {
                                        height: 32px;
                                        border: 0.8px solid #B6B6B6;
                                        border-radius: 2px;
                                        padding-left: 8px;
                                    }
                                }
                                .wc-braintree-hosted-field-card-csc-parent {
                                    display: inline-block;
                                    width: calc(50% - 5px);
                                    float: none;
                                    label {
                                        @include font($light...);
                                        font-size: 12px;
                                        color: black;
                                        abbr.required {
                                            display: none;
                                        }
                                    }
                                    .wc-braintree-hosted-field-card-csc {
                                        height: 32px;
                                        border: 0.8px solid #B6B6B6;
                                        border-radius: 2px;
                                        padding-left: 8px;
                                    }
                                }
                            }
                        }
                    }
                    .place-order {
                        input.button {
                            background-color: $secondary-accent;
                            border: transparent;
                            border-radius: 30px;
                            @include font($light...);
                            font-size: 18px;
                            float: right;
                            margin-right: 10px;
                            height: 45px;
                            line-height: 16px;
                            margin-bottom: 30px;
                        }
                        input.button:focus {
                            outline: none;
                        }
                        input.button:hover {
                            background-color: #479494;
                        }
                    }
                }
                .checkout-image-container {
                    display: none;
                    height: 100%;
                    width: 22.5%;
                    overflow: hidden;
                    padding-right: 22px;
                    img.checkout-image {
                        display: inline-block;
                    }
                }
            }
        }
    }
    
    @media only screen and (min-width: 768px) {
        #post-6 {
            padding: 0 10%;
            .checkout {
                .page-title {
                    padding-bottom: 40px;
                }
                .page-title-tag {
                    display: none;
                    padding: 0;
                }
                .checkout-top {
                    .col2-set {
                        vertical-align: top;
                        float: none;
                        display: inline-block;
                        margin: 0;
                        padding-left: 25px;
                        width: calc(100% - 528px);
                        .billing-terms {
                            @include font($light...);
                            font-size: 14px;
                            padding: 15px 0 30px;
                            line-height: 20px;
                            
                        }
                        .col-1 {
                            margin-bottom: 0;
                            .woocommerce-billing-fields {
                                @include font($light...);
                                h3 {
                                    font-size: 24px;
                                    padding-bottom: 15px;
                                    padding-bottom: 15px;
                                }
                                .form-row {
                                    margin-bottom: 8px;
                                    display: inline-block;
                                    margin-right: 10px;
                                    float: none;
                                    width: 100%;
                                    label {
                                        @include font($light...);
                                        font-size: 12px;
                                        color: black;
                                    }
                                    abbr.required {
                                        display: none;
                                    }
                                    .input-text {
                                        @include font($light...);
                                        box-shadow: none;
                                        background-color: transparent;
                                        border: 0.8px solid #B6B6B6;
                                        border-radius: 2px;
                                        font-size: 14px;
                                        height: 32px;
                                        font-weight: 500;
                                        color: $text-accent;
                                    }
                                }
                                #billing_first_name_field {
                                    width: calc(50% - 5px);
                                }
                                #billing_last_name_field {
                                    width: calc(50% - 5px);
                                    margin-right: 0;
                                }
                                #billing_email_field {
                                    width: 100%;
                                }
                            }
                        }
                        .col-2 {
                            margin-bottom: 0;
                        }
                        .payment-methods-container {
                            margin: 0;
                            padding: 10px 0;
                            width: 382px;
                            .payment-method-braintree_credit_card {
                                display: inline-block;
                                input {
                                    vertical-align: middle;
                                }
                                label {
                                    @include font($light...);
                                    font-size: 12px;
                                    color: black;
                                    margin-left: 3px;
                                    img {
                                        display: inline-block;
                                        padding-top: 3px;
                                        margin-bottom: -5px;
                                    }
                                }
                            }
                            .payment-method-braintree_paypal {
                                display: inline-block;
                                padding-left: 5px;
                                input {
                                    vertical-align: middle;
                                }
                                label {
                                    @include font($light...);
                                    font-size: 12px;
                                    color: black;
                                    margin-left: 3px;
                                    img {
                                        display: inline-block;
                                        width: 80px;
                                        margin-left: 5px;
                                        margin-bottom: -5px;
                                    }
                                }
                            }
                        }
                        .wc_payment_method {
                            .payment_method_braintree_paypal {
                                padding-top: 12px;
                                margin-bottom: -8.7px;
                            }
                            .payment_box {
                                p {
                                    display: none;
                                }
                                fieldset {
                                    background-color: transparent;
                                    .wc-braintree-hosted-field-card-number-parent {
                                        display: inline-block;
                                        width: 100%;
                                        padding: 0;
                                        margin-right: 7px;
                                        label {
                                            @include font($light...);
                                            font-size: 12px;
                                            color: black;
                                            abbr.required {
                                                display: none;
                                            }
                                        }
                                        .wc-braintree-hosted-field-card-number {
                                            height: 32px;
                                            border: 0.8px solid #B6B6B6;
                                            border-radius: 2px;
                                            padding-left: 8px;
                                        }
                                    }
                                    .wc-braintree-hosted-field-card-expiry-parent {
                                        display: inline-block;
                                        width: calc(50% - 5px);
                                        float: none;
                                        margin-right: 6px;
                                        padding-right: 0;
                                        label {
                                            @include font($light...);
                                            font-size: 12px;
                                            color: black;
                                            abbr.required {
                                                display: none;
                                            }
                                        }
                                        .wc-braintree-hosted-field-card-expiry {
                                            height: 32px;
                                            border: 0.8px solid #B6B6B6;
                                            border-radius: 2px;
                                            padding-left: 8px;
                                        }
                                    }
                                    .wc-braintree-hosted-field-card-csc-parent {
                                        display: inline-block;
                                        width: calc(50% - 5px);
                                        float: none;
                                        label {
                                            @include font($light...);
                                            font-size: 12px;
                                            color: black;
                                            abbr.required {
                                                display: none;
                                            }
                                        }
                                        .wc-braintree-hosted-field-card-csc {
                                            height: 32px;
                                            border: 0.8px solid #B6B6B6;
                                            border-radius: 2px;
                                            padding-left: 8px;
                                        }
                                    }
                                }
                            }
                        }
                        .place-order {
                            input.button {
                                background-color: $secondary-accent;
                                border: transparent;
                                border-radius: 30px;
                                @include font($light...);
                                font-size: 18px;
                                float: right;
                                margin-right: 10px;
                                height: 45px;
                                line-height: 16px;
                            }
                            input.button:focus {
                                outline: none;
                            }
                            input.button:hover {
                                background-color: #479494;
                            }
                        }
                    }
                    #order_review {
                        height: 375px;
                        width: 250px;
                        .order-review-container {
                            padding: 20px;
                            padding-left: 25px;
                            padding-right: 16px;
                            margin-bottom: 0;
                        }
                    }
                    .checkout-image-container {
                        display: inline-block;
                        width: 250px;
                        padding: 0;
                        margin-right: 20px;
                    }
                }
            }
        }
    }
    
    @media only screen and (min-width: 1350px) {
        #post-6 .checkout .checkout-top .col2-set {
            margin: 0;
            padding-left: 25px;
            width: calc(100% - 528px);
            .wc_payment_method .payment_box fieldset {
                .wc-braintree-hosted-field-card-number-parent {
                    display: inline-block;
                    width: calc(50% + 7px);
                    padding: 0;
                    margin-right: 7px;
                    label {
                        @include font($light...);
                        font-size: 12px;
                        color: black;
                        abbr.required {
                            display: none;
                        }
                    }
                }
                .wc-braintree-hosted-field-card-csc-parent {
                    width: calc(27% - 30px);
                }
                .wc-braintree-hosted-field-card-expiry-parent {
                    width: 23%;
                }
            }
            .payment-methods-container {
                margin-top: -50px;
                margin-left: calc(100% - 392px);
                padding-left: 15px;
                margin-bottom: 16px;
            }
            .col-1 .woocommerce-billing-fields {
                .woocommerce-billing-fields__field-wrapper {
                    .new-feature {
                        display: none;
                    }
                }
                #billing_first_name_field {
                    width: 25%;
                }
                #billing_last_name_field {
                    margin-right: 10px;
                    width: 25%;
                }
                #billing_email_field {
                    width: calc(50% - 20px);
                }
                .form-row {
                    width: calc(100% - 392px);
                }
            }
        }
    }