div.calendar {
	/*******************************Calendar Top Navigation*********************************/
	margin: 0px auto;
	padding: 0px;
	font-family: Helvetica, "Times New Roman", Times, serif;
	width: 430px;
	div.box {
		position: relative;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 45px;
		background-color: $secondary-accent;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}
	div.header {
		@include font($light...);
		line-height: 40px;
		vertical-align: middle;
		//position: absolute;
		width: 100%;
		.title {
			padding: 0;
			color: white;
			font-size: 18px;
			display: inline-block;
			width: 150px;
			text-align: center;
		}
		.prev {
			padding: 0;
			color: white;
			width: calc(49% - 75px);
			display: inline-block;
			left: 0px;
			background-color: transparent;
		}
		.prev:focus {
			outline: none;
		}
		.next {
			padding: 0;
			color: white;
			width: calc(49% - 75px);
			display: inline-block;
			background-color: transparent;
		}
		.next:focus {
			outline: none;
		}
	}
	/*******************************Calendar Content Cells*********************************/
	div.box-content {
		background-color: #FAFAFA;
	}
	ul.label {
		margin: 0px;
		padding: 0px;
		padding-top: 15px;
		margin-left: 20px;
		li {
			@include font($light...);
			margin: 0px;
			padding: 0px;
			margin-left: 7.5px;
			margin-right: 7.5px;
			list-style-type: none;
			width: 40px;
			height: 40px;
			line-height: 40px;
			vertical-align: middle;
			text-align: center;
			color: #000;
			font-size: 16px;
			background-color: transparent;
			float: left;
		}
	}
	ul.dates {
		float: left;
		margin: 0px;
		padding: 0px;
		padding-left: 20px;
		padding-bottom: 20px;
		background-color: #FAFAFA;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		.not_in_curr_month {
			color: darkgrey;
		}
		li {
			@include font($light...);
			margin: 0px;
			padding: 0px;
			margin-right: 7.5px;
			margin-left: 7.5px;
			line-height: 39px;
			vertical-align: middle;
			float: left;
			list-style-type: none;
			width: 40px;
			height: 40px;
			font-size: 16px;
			color: #000;
			text-align: center;
			span.available-lessons {
				display: none;
				position: relative;
				height: 4px;
				width: 4px;
				border-radius: 40px;
				background-color: $secondary-accent;
				margin: 0 auto;
                transform: translateY(-17px);
			}
		}
	}
}

div#lessons {
	width: 430px;
	margin: 0 auto;
	.lesson-block {
		background-color: #FAFAFA;
		.lesson-block-content {
			margin-left: 35px;
			.lesson-block-title {
				font-size: 18px;
				font-weight: 500;
				padding-top: 12px;
				padding-bottom: 30px;
			}
			.indiv-lesson {
				padding-bottom: 50px;
				.date-and-time {
					@include font($light...);
					display: inline-block;
					width: 50%;
					margin-right: -4px;
					vertical-align: middle;
				}
				form.cart {
					display: inline-block;
					text-align: right;
					padding: 0;
					margin: 0;
					vertical-align: middle;
					.button.alt {
						background: $secondary-accent;
						border: none;
						border-radius: 5px;
					}
				}
				div.attribute_name {
					display: inline-block;
					width: 70%;
					margin-left: -4px;
					@include font($light...);
				}
				div.booking-button {
					@include font($light...);
					display: inline-block;
					text-align: right;
					float: right;
					padding-right: 45px;
					button {
						width: 75px;
						height: 40px;
						font-size: 14.5px;
						font-weight: 300;
						color: white;
						background-color: $secondary-accent;
						border-radius: 30px;
						margin-top: -7px;
					}
					button:focus {
						outline: none;
					}
					button:hover {
						background-color: #479494;
					}
				}
			}
		}
	}
}

:focus {
	outline: none;
}

div.clear {
	clear: both;
}

div.mobile-calendar {
	margin-top: 70px;
	div.calendar {
		width: 100%;
		padding: 0 24px;
		.box {
			background-color: transparent;
			color: black;
			border-radius: 0;
			border-bottom: 1px solid $secondary-accent;
			.header {
				.prev {
					color: black;
				}
				.title {
					color: black;
				}
				.next {
					color: black;
				}
			}
		}
		.box-content {
			background-color: transparent;
			ul.label {
				margin-left: 0;
				li {
					margin: 0;
					width: 14%;
				}
			}
			ul.dates {
				padding-left: 0;
				float: none;
				background-color: transparent;
				li {
					margin: 0;
					width: 14%;
					padding-top: calc(7% - 8px);
					padding-bottom: calc(7% - 8px);
					height: unset;
					float: none;
                    max-height: 45px;
					line-height: 16px;
					display: inline-block;
					.available-lessons {
						margin-top: 22px;
					}
				}
			}
		}
	}
	div#lessons {
		padding: 0 24px;
		width: unset;
		.lesson-block {
			background-color: transparent;
			.lesson-block-content {
				margin-left: 0;
				color: black;
				@include font($light...);
				.lesson-block-title {
					font-size: 20px;
					padding-bottom: 20px;
				}
				.indiv-lesson {
					.attr-attribute_date_and_time {
						line-height: 44px;
					}
					.booking-button {
						padding-right: 0;
						display: inline-block;
						float: right;
						form button.booking_button {
							height: 44px;
							background-color: $secondary-accent;
							border-radius: 50px;
							@include font($light...);
							color: white;
							font-size: 16px;
							outline: none;
                            width: auto;
                            margin-top: 0;
						}
					}
				}
			}
		}
	}
}

    @media only screen and (min-width: 768px) {
        div.calendar ul.dates li span.available-lessons{transform: translateY(-7px);}
        
}