$primary-accent: #FFB648;
$secondary-accent: #5DC6BB;
$text-accent: #43454b;
$tab-background-accent: #F9F9F9;
$inactive-tab-accent: #EAEAEA;
$inactive-tab-font: #959898;

$input-border: #D6D6D6;
$active-button: #50B6AB;