.site-footer {
    padding: 30px 16%;
    @include font($light...);
    font-size: 14px;
    height: 60px;
    bottom: 0;
    position: absolute;
    width: 100%;
	 padding-top: 20px;
    .copyright {
        display: none;
    }
    .footer-links {
        display: none;
    }
    .social-media {
        display: inline-block;
        width: 100%;
        text-align: center;
        a.not-last {
            padding-right: 15%;
        }
    }
}

@media only screen and (min-width: 768px) {
    .site-footer {
        padding: 20px 10%;
        .footer-links {
            vertical-align: top;
            display: inline-block;
            width: 38%;
            .link {
                display: inline-block;
                padding-right: 70px;
            }
        }
        .copyright {
            vertical-align: top;
            display: inline-block;
            width: 32%;
            text-align: right;
            float: right;
            color: black;
        }
        .social-media {
            width: 28%;
            text-align: center;
        }
    }
}