.featured {
	margin: 0 -8px;
}

h2 {
	margin-bottom: .5em;
}

.home-hero {
	height: 80vh;
	//background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(https://lernable.com/wp-content/themes/lernable/images/roman_kraft.png);
	background-size: cover;
	background-position: center;
	.tagline {
		@include font($light...);
		padding: 35vh 10% 48px;
		font-size: 24px;
		color: white;
		text-align: center;
		font-style: italic;
	}
	.hero-button-container {
		width: 100%;
	}
	.hero-desc-button {
		display: block;
		
		background-color: $primary-accent;
		width: 138px;
		padding: 12px;
            border-radius: 30px;
        -webkit-transition: background-color 200ms, opacity 200ms ease-in-out;
		transition: background-color 200ms, opacity 200ms ease-in-out;
		margin: 0 auto;
		text-align: center;
		opacity: 0.95;
		.hero-description {
			font-size: 12pt;
			color: white;
			text-decoration: none;
			@include font($light...);
		}
	}
	.hero-desc-button:hover {
		background-color: rgba(255, 182, 72, .9);
	}
}

.home-hero.homebanner {
	background-image: url("https://lernable.com/wp-content/themes/lernable/images/roman_kraft.png");
}

#primary {
	.site-main {
		#listings {
			width: 100%;
			margin-top: 30px;
			padding: 0 3%;
			ul.products {
				li.product {
					display: inline-block;
					width: 48%;
					vertical-align: top;
					margin-right: 0;
					margin-bottom: 32px;
					text-align: left;
					margin-left: 1%;
					a {
						overflow: hidden;
					}
					img {
						border-radius: 0;
						max-width: 150%;
						-webkit-transition: transform .5s ease-in-out;
						transition: transform .5s ease-in-out;
						margin-bottom: .8em;
						width: 100%;
					}
					img:hover {
						transform: scale3d(1.03);
					}
					h2 {
						font-size: 15px;
						font-weight: 400;
						line-height: $line-height;
					}
					.price {
						@include font($light...);
						display: inline-block;
						width: 62%;
						font-size: 14px;
						color: black;
						margin-bottom: 6px;
					}
					.duration {
						@include font($light...);
						font-size: 14px;
						display: inline-block;
						float: right;
					}
					.rating-container {
						.star-rating {
							display: inline-block;
							font-size: 15px;
							margin: 0;
						}
						.review-count {
							display: inline-block;
							@include font($light...);
							font-size: 14px;
							margin-top: 3px;
							margin-left: 5px;
							vertical-align: top;
						}
					}
				}
			}
			h2.category {
				margin-top: 0;
			}
		}
	}
}

.right-sidebar .content-area {
	width: 100%;
	margin-right: 0;
}


/*
.lern-listing {
width: 50%;
display: inline-block;
vertical-align: top;
font-size: 0;
padding: 0 8px;
a {
  height: inherit;
  max-width: inherit;
  .product-image-wrapper {
		height: 300px;
		overflow: hidden;
		img {
			 max-height: 340px;
			 height: auto;
			 min-width: 300px;
			 border-radius: 0;
			 max-width: inherit;
			 -webkit-transition: transform .5s ease-in-out;
			 transition: transform .5s ease-in-out;
		}
		img:hover {
			 transform: scale(1.01);
		}
  }
  $details-margin: 10px;
  .listing-details-wrapper {
		width: 80%;
		margin-top: $details-margin;
		display: inline-block;
		p {
			 font-weight: 300;
			 font-size: $font-size;
		}
  }
  .listing-price {
		width: 20%;
		display: inline-block;
		margin-top: $details-margin;
		vertical-align: top;
		p {
			 font-size: $font-size;
			 color: $font-color;
			 font-weight: 500;
			 text-align: right;
		}
  }
}
}
*/

@media only screen and (min-width: 768px) {
	.home-hero {
		height: 400px;
		.tagline {
			padding: 170px 10% 48px;
			font-size: 36px;
		}
		.hero-desc-button {
			width: 150px;
            
		}
	}
	#primary {
		.site-main {
			#listings {
				margin-top: 40px;
				padding: 0 10%;
				h2 {
					font-size: 36px;
					margin-bottom: 30px;
				}
				ul.products {
					li.product {
						width: 25%;
						padding-right: 30px;
						margin-left: 0;
						.price {
							width: 45%;
						}
						a {
							h2.woocommerce-loop-product__title {
								margin-bottom: 10px;
							}
						}
					}
				}
			}
		}
	}
}