.margin {
    margin: 0 24px;
    .more-questions {
        margin-bottom: 100px;
        #thanks {
            display: none;
            margin: 9% auto;
            width: 100%;
            color: $text-accent;
            .thanks-title {
                font-size: 36px;
                @include font($light...);
                margin-bottom: 30px;
            }
            .getback {
                font-size: 24px;
                @include font($light...);
                line-height: 32px;
            }
            margin-bottom: 200px;
        }
        form {
            @include font($light...);
            margin: 9% auto;
            /* 15% from the top and centered */
            width: 100%;
            /* Could be more or less, depending on screen size */
            .name {
                display: inline-block;
                width: 100%;
                font-size: 10pt;
            }
            .email {
                display: inline-block;
                width: 100%;
                font-size: 10pt;
            }
            .message {
                padding-top: 25px;
                padding-bottom: 25px;
                font-size: 10pt;
            }
            .input {
                border: 0.8px solid $input-border;
                background-color: transparent;
                border-radius: 2px;
                color: $text-accent;
            }
            .nameinput {
                width: 100%;
                padding-top: 8px;
            }
            .emailinput {
                width: 100%;
                padding-top: 8px;
            }
            .messageinput {
                width: 99.5%;
                height: 100px;
                padding-top: 8px;
                resize: none;
            }
            .sendbtn {
                text-align: right;
                input[type="submit"] {
                    @include font($light...);
                    color: white;
                    background-color: $secondary-accent;
                    border-radius: 20px;
                    width: 70px;
                    height: 40px;
                    font-size: 10pt;
                    -webkit-transition: background-color 200ms ease-in-out;
                    transition: background-color 200ms ease-in-out;
                }
                input[type="submit"]:hover {
                    background-color: $active-button;
                }
            }
        }
        .break {
            margin: 50px auto;
            text-align: center;
            hr {
                border: none;
                border-top: 1px solid $secondary-accent;
                color: #fff;
                background-color: #fff;
                height: 1px;
                width: 20px;
                margin: 0 10px;
                display: inline-block;
            }
        }
    }
    #more-questions {
        font-size: 36px;
        margin-bottom: 60px;
    }
    #faq {
        margin-top: 100px;
        font-size: 36px;
        margin-bottom: 60px;
    }
    .left-faq,
    .right-faq {
        display: inline-block;
        width: 100%;
        margin: 0;
        padding: 0;
        vertical-align: top;
        @include font ($light...);
        color: $text-accent;
        h2 {
            margin-bottom: 1.5em;
        }
        a {
            color: $secondary-accent;
            font-weight: 300;
        }
        a:hover {
            text-decoration: underline;
        }
        p {
            margin-bottom: 30px;
        }
        .subheading {
            font-weight: 400;
            margin-bottom: 20px;
        }
        ul li {
            list-style-type: disc;
            margin-bottom: 10px;
            margin-left: 22px;
        }
        ol {
            margin-bottom: 30px;
        li {
            list-style-type: decimal;
            margin-bottom: 10px;
            margin-left: 22px;
        }
        }
    }

    .steps-container {
        margin-top: 100px;
        .one,
        .two,
        .three {
            width: 48px;
            height: 48px;
            display: inline-block;
            vertical-align: top;
        }
        .two {
            margin-left: 0;
        }
    }
    .top-h2 {
        margin-top: 50px;
        font-size: 36px;
    }
    .easy {
        margin: 50px auto;
        width: 300px;
    }
    .text-p {
        @include font($light...);
        color: $text-accent;
        display: inline-block;
        margin-left: 20px;
        margin-top: 5px;
        width: calc(100% - 80px);
        vertical-align: top;
        h2 {
            font-size: 18px;
        }
        p {
            display: none;
        }
    }
    #show-up {
        margin-top: 13px;
    }
    .second-illo {
        width: calc(53% - 70px);
        display: none;
    }
    .first-illo {
        display: inline-block;
        width: 100%;
        margin-left: 0;
        margin-top: 50px;
    }
    .second-illo.mobile {
        display: block;
        width: 100%;
        margin-top: 50px;
    }
    .third-illo {
        margin-top: 50px;
    }
}

.home-hero.howitworks2 {
    background-image: url("https://lernable.com/wp-content/uploads/2017/09/sleeping.png");
    height: 500px;
    margin-top: 60px;
    padding: 5% 10%;
    @include font($light...);
    color: white;
    p br {
        display: none;
    }
    h2 {
        margin-top: 150px;
        color: white;
    }
    .call-to-action {
        background: linear-gradient(248.83deg, #FFDC7E 0%, #FFB648 100%);
        border-radius: 34px;
        height: 40px;
        text-align: center;
        color: white;
        font-size: 14px;
        position: relative;
        margin-top: 20px;
        width: 180px;
        -webkit-transition: opacity 1s;
        /* Safari */
        transition: opacity 1s;
        a {
            color: white;
            display: table-cell;
            line-height: 8px;
            height: 40px;
            width: 175px;
            vertical-align: middle;
        }
    }
    .call-to-action:hover {
        opacity: .7;
    }
}

.home-hero.howitworks {
    background-image: none;
    height: auto;
    margin-top: 60px;
    padding: 0;
    .hero-button-container {
        text-align: center;
        .summary-bubble {
            height: auto;
            width: -webkit-fill-available;
            border-radius: 0;
            background: linear-gradient(248.83deg, #FFDC7E 0%, #FFB648 100%);
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);
            text-align: left;
            padding: 30px 24px;
            color: #FFFFFF;
            @include font($light...);
            font-size: 36px;
            line-height: 49px;
            position: relative;
            display: inline-block;
            p:nth-child(2){
                margin-bottom: 70px;
            }
            .small-caps {
                @include font($bold...);
                font-size: 14px;
                font-weight: bold;
                line-height: 19px;
                margin-bottom: 5%;
            }
            .call-to-action {
                border: 1px solid white;
                border-radius: 34px;
                height: 40px;
                text-align: center;
                color: white;
                font-size: 14px;
                
                position: absolute;
                bottom: 30px;
                -webkit-transition: background-color 1s;
                /* Safari */
                transition: background-color 1s;
                a {
                    color: white;
                    display: table-cell;
                    line-height: 8px;
                    height: 40px;
                    padding: 0 15px;
                    vertical-align: middle;
                }
            }
        }
        .call-to-action:hover {
            background-color: rgba(255, 255, 255, 0.3);
        }
        p:nth-child(3) {
            margin-bottom: 20%;
        }
    }
}

//IPAD/PHONE VERSION
@media only screen and (min-width: 768px) {
    .home-hero.howitworks2 p br {
        display: inline;
    }
    .home-hero.howitworks {
         background-image: url("https://lernable.com/wp-content/uploads/2017/09/skateboard.jpg");
        padding: 70px 0;
        height: 500px;
        .hero-button-container .summary-bubble {
            margin-left: 15%;
            display: block;
            width: 300px;
                  border-radius: 26px;
            height: 345px;
            height: -moz-available;
            height: -webkit-fill-available;
            padding: 30px;
        }
    }
    .hero-button-container {
        text-align: start;
    }
    .margin {
        margin: 0 10%;
        .more-questions{
            #thanks{
                width: 60%;
            }
            form{
                width: 60%;
                .name{
                    width: 44%;
                }
                .email{
                    width: 55%;
                }
                .nameinput{
                    width: 80%;
                }
                #more-questions br{
                    display: none;
                }
            }
        }
        .left-faq,
        .right-faq {
            width: 48%;
            margin: 0 -4px;
        }
        .left-faq {
            padding-right: 4px;
            margin-right: 2%;
        }
        .right-faq {
            padding-left: 4px;
            margin-left: 2%;
            
        }
        
        .text-p {
            margin-top: 7px;
            width: 40%;
            h2 {
                font-size: 1.5em;
            }
            p {
                display: block;
            }
        }
        .first-illo,
        .third-illo {
            display: inline-block;
            width: calc(58% - 90px);
            margin-left: 20px;
            margin-top: 0;
        }
        .second-illo {
            display: inline-block;
            width: calc(53% - 70px);
        }
        .second-illo.mobile {
            display: none;
        }
        .steps-container {
            .two {
                margin-left: 5%;
            }
        }
    }
}