.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger {
    display: none;
}

.content-area {
    margin-bottom: 0;
}

.single-product div.product {
    overflow: visible;
    margin-top: 60px;
    .listing-hero {
        //background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(https://lernable.com/wp-content/themes/lernable/images/eddy-klaus-33079.jpg);
        //background-image: url("https://lernable.com/wp-content/themes/lernable/images/eddy-klaus-33079.jpg");
        //background-size: cover;
        //background-position: center;
        overflow: hidden;
        position: relative;
        .hero-image {
            border-radius: 0;
            display: none;
            height: 350px;
            object-fit: cover;
        }
        .tagline {
            @include font($light...);
            top: 75%;
            
            font-size: 32px;
            color: white;
            margin-left: 24px;
            padding-bottom: 4px;
            position: absolute;
            pointer-events: none;
        }
        .description {
            display: none;
            @include font($light...);
            font-size: 20px;
            width: 60%;
            padding-top: 15px;
            padding-left: 10%;
            color: white;
            margin-left: 5%;
            margin-bottom: 0;
            line-height: 28px;
        }
        .hero-controls {
            opacity: 0;
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            .left-arrow{
                display: none;
            }
            .right-arrow{
                height: 100%;
            }
        }
        .badges {
            width: 20%;
            margin-left: 40%;
            display: inline-block;
            text-align: center;
            position: absolute;
            top: calc(100% - 30px);
            margin-bottom: 13px;
            .carousel-badge {
                cursor: pointer;
                display: inline-block;
                background-color: white;
                border-radius: 100%;
                height: 4px;
                width: 4px;
                padding: 0;
                margin-left: 5%;
                margin-right: 5%;
            }
        }
    }
    .summary {
        width: 100%;
        float: none;
        vertical-align: top;
        display: inline-block;
        margin-bottom: 0;
        .info-block-container {
            padding: 24px;
            padding-top: 20px;
            padding-bottom: 0;
            .info-block {
                @include font($light...);
                width: 100%;
                .info-block-top {
                    display: inline-block;
                    width: 100%;
                    .single-left-wrapper {
                        width: 100%;
                        display: inline-block;
                        margin-right: 0;
                        padding-left: 5%;
                        padding-right: 5%;
                        padding-top: 18px;
                        padding-bottom: 18px;
                        border: 1px solid #C3C3C3;
                        border-radius: 4px;
                        .product_title {
                            font-size: 24px;
                            font-weight: 600;
                        }
                        .with-host {
                            font-size: 16px;
                            padding-top: 10px;
                        }
                        .price {
                            font-size: 18px;
                            margin: 20px 0;
                            color: black;
                        }
                        .contact-button-before {
                            display: none;
                        }
                        .location-languages {
                            padding-top: 30px;
                            padding-bottom: 20px;
                            line-height: 25px;
                        }
                        .woocommerce-product-rating {
                            margin: 0;
                            padding-bottom: 15px;
                            .star-rating {
                                display: inline-block;
                            }
                            .woocommerce-review-link {
                                text-decoration: none;
                                vertical-align: top;
                                line-height: 1.5;
                                @include font($light...);
                                span {
                                    vertical-align: top;
                                }
                            }
                        }
                        /* The Modal (background) */
                        .modal {
                            display: none;
                            /* Hidden by default */
                            position: fixed;
                            /* Stay in place */
                            z-index: 1;
                            /* Sit on top */
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: -webkit-fill-available;
                            /* Full width */
                            overflow: auto;
                            /* Enable scroll if needed */
                            background-color: rgb(0, 0, 0);
                            /* Fallback color */
                            background-color: rgba(0, 0, 0, 0.4);
                            /* Black w/ opacity */
                        }
                        /* Modal Content/Box */
                        .modal-content-form {
                            @include font($light...);
                            background-color: #fefefe;
                            margin: 9% auto;
                            /* 15% from the top and centered */
                            padding: 20px;
                            border: 1px solid #888;
                            width: 60%;
                            /* Could be more or less, depending on screen size */
                            .modal-container {
                                padding-left: 5%;
                                padding-right: 5%;
                                padding-bottom: 2%;
                                .artist-bio-img-form {
                                    margin-top: 10px;
                                    display: inline-block;
                                    float: left;
                                    width: 80px;
                                    height: 80px;
                                    margin-right: 40px;
                                    overflow: hidden;
                                    border-radius: 100%;
                                }
                                .contact-title-container {
                                    width: 100%;
                                }
                                .contact-title {
                                    font-size: 30pt;
                                    padding-bottom: 30px;
                                    padding-top: 30px;
                                    display: inline-block;
                                }
                                label {
                                    @include font($light...);
                                    font-size: 10pt;
                                }
                                .name {
                                    display: inline-block;
                                    width: 44%;
                                    font-size: 10pt;
                                }
                                .email {
                                    display: inline-block;
                                    width: 55%;
                                    font-size: 10pt;
                                }
                                .message {
                                    padding-top: 25px;
                                    padding-bottom: 25px;
                                    font-size: 10pt;
                                }
                                .nameinput {
                                    width: 80%;
                                    padding-top: 8px;
                                }
                                .emailinput {
                                    width: 100%;
                                    padding-top: 8px;
                                }
                                .messageinput {
                                    width: 99.5%;
                                    height: 100px;
                                    padding-top: 8px;
                                    resize: none;
                                }
                                .sendbtn {
                                    text-align: right;
                                    input[type="submit"] {
                                        @include font($light...);
                                        color: white;
                                        background-color: $secondary-accent;
                                        border-radius: 5px;
                                        width: 70px;
                                        height: 40px;
                                        font-size: 10pt;
                                    }
                                }
                            }
                        }
                        .modal-content-thanks {
                            @include font($light...);
                            background-color: #fefefe;
                            margin: 15% auto;
                            /* 15% from the top and centered */
                            padding: 20px;
                            border: 1px solid #888;
                            width: 60%;
                            
                            /* Could be more or less, depending on screen size */
                            .modal-container {
                                padding-left: 5%;
                                padding-right: 5%;
                                padding-bottom: 2%;
                                .artist-bio-img-thanks {
                                    margin-top: 14px;
                                    display: inline-block;
                                    float: left;
                                    width: 100px;
                                    height: 100px;
                                    margin-right: 40px;
                                    overflow: hidden;
                                    border-radius: 100%;
                                }
                                .modal-thanks-text {
                                    display: inline-block;
                                    padding-top: 20px;
                                }
                                .thanks-title-container {
                                    width: 100%;
                                    padding-bottom: 50px;
                                    padding-top: 20px;
                                }
                                .thanks-title {
                                    font-size: 24pt;
                                    padding-bottom: 10px;
                                }
                                .getback {
                                    font-size: 14pt;
                                }
                                .back-button {
                                    text-align: right;
                                    button {
                                        @include font($light...);
                                        color: white;
                                        background-color: $secondary-accent;
                                        border-radius: 5px;
                                        width: 120px;
                                        height: 40px;
                                        font-size: 10pt;
                                    }
                                }
                            }
                        }
                        /* The Close Button */
                        .close {
                            color: #aaa;
                            float: right;
                            font-size: 40px;
                            font-weight: bold;
                        }
                        .close:hover,
                        .close:focus {
                            color: black;
                            text-decoration: none;
                            cursor: pointer;
                        }
                        .contact-button {
                            font-weight: strong;
                            color: $secondary-accent;
                            cursor: pointer;
                            outline: none;
                        }
                        .contact-button:hover {
                            color: #4d8e8e;
                        }
                        .people-duration {
                            margin-bottom: 1em;
                            i {
                                display: inline;
                            }
                            .next-to-icon {
                                margin-left: 1em;
                            }
                            p {
                                display: inline;
                            }
                            div {
                                display: inline-block;
                                width: 20px;
                            }
                        }
                        .woocommerce-product-details__short-description {
                            .quote-tag {
                                font-size: 22pt;
                                line-height: 32pt;
                            }
                            .artist-bio {
                                .artist-bio-details>p {
                                    font-size: 18px;
                                }
                                .artist-bio-details {
                                    @include font($light...);
                                    font-size: 14pt;
                                    line-height: 21pt;
                                    display: inline-block;
                                    vertical-align: top;
                                }
                            }
                            .listing-title {
                                font-size: 18pt;
                            }
                        }
                    }
                    .single-right-wrapper {
                        display: none;
                        width: 100%;
                    }
                }
                .lern-description {
                    @include font($light...);
                    margin-top: 18px;
                    margin-bottom: 18px;
                    border: 1px solid #C3C3C3;
                    border-radius: 4px;
                    /*.lern-tab .tablinks {
				  border-top-left-radius: 5px;
				  border-top-right-radius: 5px;
				  }*/
                    .left-content {
                        display: inline-block;
                        width: 100%;
                        padding: 18px 5%;
                        padding-bottom: 0;
                        .single-listing-details-left {
                            p {
                                margin-bottom: 10px;
                                line-height: 30px;
                                font-size: 14px;
                            }
                            p.font-reg {
                                margin-bottom: 0;
                                font-weight: 600;
                            }
                        }
                    }
                    .right-content {
                        display: inline-block;
                        width: 100%;
                        padding: 0 5%;
                        padding-bottom: 6px;
                        .single-listing-details-right {
                            p {
                                font-size: 14px;
                                margin-bottom: 10px;
                                line-height: 30px;
                            }
                            p.font-reg {
                                margin-bottom: 0;
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
        }
        .lern-reviews {
            @include font($light...);
            padding: 0 24px;
            padding-bottom: 20px;
            #reviews {
                .woocommerce-noreviews {
                    display: none;
                }
                .commentlist {
                    .star-rating {
                        font-size: 15px;
                    }
                    li:nth-child(1) {
                        border-top: none;
                    }
                    li {
                        border-top: 1px solid black;
                        margin-bottom: 20px;
                        time {
                            opacity: 0.8;
                        }
                        .comment_container {
                            padding-top: 30px;
                        }
                        img {
                            border-radius: 100%;
                            margin-right: 5%;
                        }
                        .avatar {
                            width: 50px;
                            display: none;
                        }
                        .comment-text {
                            @include font($light...);
                            float: none;
                            width: 100%;
                            .meta {
                                margin-bottom: 20px;
                                line-height: 20px;
                                color: black;
                                .woocommerce-review__author {
                                    vertical-align: top;
                                    font-size: 18px;
                                }
                                .woocommerce-review__published-date {
                                    font-size: 18px;
                                    margin-top: 7px;
                                }
                                .woocommerce-review__awaiting-approval {
                                    font-size: 20px;
                                }
                            }
                            .description {
                                font-size: 15px;
                                line-height: 25px;
                            }
                        }
                    }
                }
                .reviews {
                    padding-top: 18px;
                    font-size: 24px;
                    font-weight: 400;
                    margin-bottom: 12px;
                }
            }
        }
        .mobile-calendar-button {
            display: inline-block;
            width: 132px;
            height: 40px;
            background-color: $primary-accent;
            border-radius: 50px;
            @include font($light...);
            color: white;
            position: fixed;
            bottom: 15px;
            right: 25px;
            font-size: 14px;
            padding-top: 8px;
            padding-left: 17px;
            outline: none;
        }
        /* Style the tab *
  div.lern-tab {
		height: 50px;
  }
  /* Style the buttons inside the tab *
  div.lern-tab button {
		color: $inactive-tab-font;
		float: left;
		border: none;
		outline: none;
		cursor: pointer;
		padding: 0;
		transition: 0.3s;
		background-color: $inactive-tab-accent;
		font-size: 10pt;
		width: 20%;
		height: 50px;
		overflow: hidden;
		.yellow-bar{
			 height: 3px;
			 background-color: $primary-accent;
			 display: none;
			 width: 100%;
		}
		.button-title {
			 line-height: 47px;
		}
  }
  /* Change background color of buttons on hover *
  div.lern-tab button:hover {
		background-color: #ddd;
  }
  /* Create an active/current tablink class *
  div.lern-tab button.active {
		background-color: $tab-background-accent;
		color: $text-accent;
		box-shadow: 0px 4px 8px 0px lightgrey;
		position: relative;
		.yellow-bar {
			 display: block;
		}
  }
  .content {
		display: none;
		padding: 6px 12px;
		border: none;
		background-color: $tab-background-accent;
		padding-top: 2em;
		padding-left: 2em;
		padding-right: 2em;
		padding-bottom: 2em;
		box-shadow: 0px 4px 8px 0px lightgrey;
		position: relative;
  }*/
    }
}

@media only screen and (min-width: 768px) {
    .single-product {
        div.product {
            .listing-hero {
                position: relative;
                .hero-image {
                    width: 100%;
                    height: unset;
                }
                .tagline {
                    padding-left: 10%;
                    margin: 0;
                    position: absolute;
                    top: 70%;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    pointer-events: none;
                    padding-bottom: 0;
                }
                .description {
                    display: inherit;
                    position: absolute;
                    top: 80%;
                    bottom: 0;
                    left: 0;
                    margin-left: 0;
                    pointer-events: none;
                }
                .badges {
                    padding-top: 20px;
                    padding-bottom: 20px;
                    pointer-events: none;
                    position: absolute;
                    top: calc(100% - 60px);
                    
                    margin-bottom: 0;
                    .carousel-badge {
                        height: 6px;
                        width: 6px;
                    }
                }
                .hero-controls {
                    opacity: 1;
                    margin-top: auto;
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    
                    -webkit-touch-callout: none;
                    -webkit-user-select: none;
                    -khtml-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    /*.arrow-oval {
						 display: inline-block;
						 height: 50px;
						 width: 50px;
						 border-radius: 100%;
						 background-color: rgba(255,255,255,0.2);
						 text-align: center;
						 opacity: 0;
					}
					.arrow-text {
						 display: inline-block;
						 padding-top: 13px;
						 opacity: 0.5;
					}*/
                    .left-arrow, .right-arrow{
                        img{
                            display: inline;
                        }
                    }
                    .left-arrow {
                        cursor: pointer;
                        display: inline-block;
                        padding-left: 65px;
                        font-size: 40px;
                        color: white;
                        width: calc(50% - 2px);
                        padding-bottom: 34%;
                        height: auto;
                        padding-top: 18%;
                        opacity: 0.3;
                        transition: opacity .5s ease-in-out;
                    }
                    .left-arrow:hover {
                        opacity: 1;
                    }
                    .right-arrow {
                        cursor: pointer;
                        display: inline-block;
                        padding-right: 65px;
                        font-size: 40px;
                        color: white;
                        padding-bottom: 34%;
                        width: calc(50% - 2px);
                        text-align: right;
                        opacity: 0.3;
                        height: auto;
                        padding-top: 18%;
                        transition: opacity .5s ease-in-out;
                        img{
                            text-align: right;
                        }
                    }
                    .right-arrow:hover {
                        opacity: 1;
                    }
                }
            }
            .summary {
                .info-block-container {
                    padding: 0 10%;
                    margin-top: 40px;
                    .info-block {
                        border: 1px solid #C3C3C3;
                        border-radius: 5px;
                        margin-bottom: 120px;
                        .info-block-top {
                            .single-left-wrapper {
                                border: none;
                                border-radius: 0;
                                padding-top: 50px;
                                width: 49%;
                                padding-left: 7%;
                                padding-right: 3%;
                                padding-bottom: 0;
                                .product_title {
                                    font-size: 36px;
                                }
                                .with-host {
                                    font-size: 18px;
                                }
                                .price {
                                    font-size: 24px;
                                    margin: 25px 0;
                                }
                                .contact-button-before {
                                    display: block;
                                    padding-top: 8px;
                                }
                                .location-languages {
                                    padding-bottom: 0;
                                }
                            }
                            .single-right-wrapper {
                                display: inline-block;
                                width: 49%;
                                vertical-align: top;
                                padding-top: 50px;
                            }
                        }
                        .lern-description {
                            border: none;
                            border-radius: 0;
                            margin-top: 40px;
                            margin-bottom: 36px;
                            .left-content {
                                width: 53%;
                                padding: 0;
                                padding-left: 7%;
                                padding-right: 3%;
                                single-listing-details-left {
                                    p {
                                        margin-bottom: 15px;
                                    }
                                }
                            }
                            .right-content {
                                width: 46%;
                                vertical-align: top;
                                padding: 0;
                                padding-right: 7%;
                                .single-listing-details-right {
                                    p {
                                        margin-bottom: 15px;
                                        line-height: 30px;
                                    }
                                }
                            }
                        }
                    }
                }
                .lern-reviews {
                    margin-top: 64px;
                    padding: 0 10%;
                    #reviews {
                        padding-right: 30%;
                        .commentlist {
                            li {
                                .avatar {
                                    width: 80px;
                                }
                                .comment-text {
                                    @include font($light...);
                                    float: none;
                                    width: 100%;
                                    .meta {
                                        margin-bottom: 20px;
                                        line-height: 30px;
                                        .woocommerce-review__author {
                                            vertical-align: unset;
                                            font-size: 24px;
                                        }
                                        .woocommerce-review__published-date {
                                            font-size: 20px;
                                            line-height: 35px;
                                            margin-top: 0;
                                        }
                                        .woocommerce-review__awaiting-approval {
                                            font-size: 24px;
                                        }
                                    }
                                    .description {
                                        font-size: 15px;
                                        padding-bottom: 10px;
                                        line-height: 25px;
                                    }
                                }
                            }
                        }
                        .reviews {
                            padding-top: 0;
                            font-size: 36px;
                            margin-bottom: 0;
                            font-weight: 300;
                        }
                    }
                }
                .mobile-calendar-button {
                    display: none;
                }
            }
        }
    }
}