.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger {
	display: none;
}

<<<<<<< HEAD
@media (min-width: 768px) {
    .content-area {
        margin-bottom: 0;
    }
    .single-product div.product {
        overflow: visible;
        margin-top: 60px;
        .listing-hero {
            //background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(https://lernable.com/wp-content/themes/lernable/images/eddy-klaus-33079.jpg);
            //background-image: url("https://lernable.com/wp-content/themes/lernable/images/eddy-klaus-33079.jpg");
            //background-size: cover;
            //background-position: center;
            overflow: hidden;
            .green-overlay {
                width: 100%;
                height: 100%;
                color: aquamarine;
                z-index: 1000;
            }
            .carousel-container{
            .hero-image {
                width: 100%;
                border-radius: 0;
                display: none;
//                margin-bottom: -800px;
            }
//            .hero-image::after {
//                display: block;
//                position: relative;
//                background-image: linear-gradient(rgba(255, 255, 255, 0), #000);
////                margin-top: -150px;
//                height: 600px;
//                transform: translateY(-100%);
////                width: 100%;
//                content: '';
//            }
            }
            .tagline {
                @include font($light...);
                margin-top: -110px;
                padding-left: 10%;
                font-size: 32px;
                color: white;
                margin-left: 5%;
            }
            .description {
                @include font($light...);
                font-size: 20px;
                width: 60%;
                padding-top: 15px;
                padding-left: 10%;
                color: white;
                margin-left: 5%;
                margin-bottom: 0;
                line-height: 28px;
            }
            .hero-controls {
                margin-top: -400px;
                height: 300px;
                /*.arrow-oval {
                display: inline-block;
                height: 50px;
                width: 50px;
                border-radius: 100%;
                background-color: rgba(255,255,255,0.2);
                text-align: center;
                opacity: 0;
            }
            .arrow-text {
                display: inline-block;
                padding-top: 13px;
                opacity: 0.5;
            }*/
                .left-arrow {
                    cursor: pointer;
                    display: inline-block;
                    padding-left: 65px;
                    font-size: 40px;
                    color: white;
                    width: 30%;
                    margin-right: 19%;
                    height: 300px;
                    padding-top: 150px;
                    opacity: 0.5;
                }
                .left-arrow:hover {
                    opacity: 1;
                }
                .right-arrow {
                    cursor: pointer;
                    display: inline-block;
                    padding-right: 65px;
                    font-size: 40px;
                    color: white;
                    margin-left: 20%;
                    width: 30%;
                    text-align: right;
                    opacity: 0.5;
                    height: 300px;
                    padding-top: 150px;
                }
                .right-arrow:hover {
                    opacity: 1;
                }
            }
            .badges {
                padding-top: 20px;
                width: 20%;
                margin-left: 40%;
                display: inline-block;
                padding-bottom: 20px;
                text-align: center;
            }
            .carousel-badge {
                cursor: pointer;
                display: inline-block;
                background-color: white;
                border-radius: 100%;
                height: 6px;
                width: 6px;
                padding: 0;
                margin-left: 5%;
                margin-right: 5%;
            }
        }
        .summary {
            width: 100%;
            float: none;
            vertical-align: top;
            display: inline-block;
            margin-bottom: 0;
            .info-block-container {
                padding: 0 10%;
            }
            .info-block {
                @include font($light...);
                margin-top: 40px;
                width: 100%;
                border: 1px solid #C3C3C3;
                border-radius: 5px;
                margin-bottom: 120px;
                .info-block-top {
                    display: inline-block;
                    width: 100%;
                }
                .product_title {
                    font-size: 36px;
                    font-weight: 600;
                }
                .with-host {
                    font-size: 18px;
                    padding-top: 10px;
                }
                .location-languages {
                    padding-top: 30px;
                    line-height: 25px;
                }
                .woocommerce-product-rating {
                    margin: 1em 0 0 0;
                    .star-rating {
                        display: inline-block;
                    }
                    .woocommerce-review-link {
                        text-decoration: none;
                        vertical-align: top;
                        line-height: 1.5;
                        @include font($light...);
                        span {
                            vertical-align: top;
                        }
                    }
                }
                /* The Modal (background) */
                .modal {
                    display: none;
                    /* Hidden by default */
                    position: fixed;
                    /* Stay in place */
                    z-index: 1;
                    /* Sit on top */
                    left: 0;
                    top: 0;
                    width: 100%;
                    /* Full width */
                    overflow: auto;
                    /* Enable scroll if needed */
                    background-color: rgb(0, 0, 0);
                    /* Fallback color */
                    background-color: rgba(0, 0, 0, 0.4);
                    /* Black w/ opacity */
                }
                /* Modal Content/Box */
                .modal-content-form {
                    @include font($light...);
                    background-color: #fefefe;
                    margin: 9% auto;
                    /* 15% from the top and centered */
                    padding: 20px;
                    border: 1px solid #888;
                    width: 60%;
                    /* Could be more or less, depending on screen size */
                    .modal-container {
                        padding-left: 5%;
                        padding-right: 5%;
                        padding-bottom: 2%;
                        .artist-bio-img-form {
                            margin-top: 10px;
                            display: inline-block;
                            float: left;
                            width: 80px;
                            height: 80px;
                            margin-right: 40px;
                            overflow: hidden;
                            border-radius: 100%;
                        }
                        .contact-title-container {
                            width: 100%;
                        }
                        .contact-title {
                            font-size: 30pt;
                            padding-bottom: 30px;
                            padding-top: 30px;
                            display: inline-block;
                        }
                        label {
                            @include font($light...);
                            font-size: 10pt;
                        }
                        .name {
                            display: inline-block;
                            width: 44%;
                            font-size: 10pt;
                        }
                        .email {
                            display: inline-block;
                            width: 55%;
                            font-size: 10pt;
                        }
                        .message {
                            padding-top: 25px;
                            padding-bottom: 25px;
                            font-size: 10pt;
                        }
                        .nameinput {
                            width: 80%;
                            padding-top: 8px;
                        }
                        .emailinput {
                            width: 100%;
                            padding-top: 8px;
                        }
                        .messageinput {
                            width: 99.5%;
                            height: 100px;
                            padding-top: 8px;
                            resize: none;
                        }
                        .sendbtn {
                            text-align: right;
                            input[type="submit"] {
                                @include font($light...);
                                color: white;
                                background-color: $secondary-accent;
                                border-radius: 5px;
                                width: 70px;
                                height: 40px;
                                font-size: 10pt;
                            }
                        }
                    }
                }
                .modal-content-thanks {
                    @include font($light...);
                    background-color: #fefefe;
                    margin: 15% auto;
                    /* 15% from the top and centered */
                    padding: 20px;
                    border: 1px solid #888;
                    width: 60%;
                    /* Could be more or less, depending on screen size */
                    .modal-container {
                        padding-left: 5%;
                        padding-right: 5%;
                        padding-bottom: 2%;
                        .artist-bio-img-thanks {
                            margin-top: 14px;
                            display: inline-block;
                            float: left;
                            width: 100px;
                            height: 100px;
                            margin-right: 40px;
                            overflow: hidden;
                            border-radius: 100%;
                        }
                        .modal-thanks-text {
                            display: inline-block;
                            padding-top: 20px;
                        }
                        .thanks-title-container {
                            width: 100%;
                            padding-bottom: 50px;
                            padding-top: 20px;
                        }
                        .thanks-title {
                            font-size: 24pt;
                            padding-bottom: 10px;
                        }
                        .getback {
                            font-size: 14pt;
                        }
                        .back-button {
                            text-align: right;
                            button {
                                @include font($light...);
                                color: white;
                                background-color: $secondary-accent;
                                border-radius: 5px;
                                width: 120px;
                                height: 40px;
                                font-size: 10pt;
                            }
                        }
                    }
                }
                /* The Close Button */
                .close {
                    color: #aaa;
                    float: right;
                    font-size: 40px;
                    font-weight: bold;
                }
                .close:hover,
                .close:focus {
                    color: black;
                    text-decoration: none;
                    cursor: pointer;
                }
                .contact-button {
                    font-weight: strong;
                    color: $secondary-accent;
                    cursor: pointer;
                }
                .contact-button:hover {
                    color: #4d8e8e;
                }
                .contact-button-before {
                    padding-top: 8px;
                }
                .single-left-wrapper {
                    width: 49%;
                    display: inline-block;
                    margin-right: 0;
                    padding-left: 7%;
                    padding-top: 50px;
                    padding-right: 3%;
                    .people-duration {
                        margin-bottom: 1em;
                        i {
                            display: inline;
                        }
                        .next-to-icon {
                            margin-left: 1em;
                        }
                        p {
                            display: inline;
                        }
                        div {
                            display: inline-block;
                            width: 20px;
                        }
                    }
                    h2 {
                        margin-bottom: 1.5em;
                    }
                    .woocommerce-product-details__short-description {
                        .quote-tag {
                            font-size: 22pt;
                            line-height: 32pt;
                        }
                        .artist-bio {
                            .artist-bio-details>p {
                                font-size: 18px;
                            }
                            .artist-bio-details {
                                @include font($light...);
                                font-size: 14pt;
                                line-height: 21pt;
                                display: inline-block;
                                vertical-align: top;
                            }
                        }
                        .listing-title {
                            font-size: 18pt;
                        }
                    }
                }
                .single-right-wrapper {
                    display: inline-block;
                    width: 49%;
                    vertical-align: top;
                    padding-top: 50px;
                }
                .lern-description {
                    @include font($light...);
                    margin-top: 60px;
                    margin-bottom: 36px;
                    /*.lern-tab .tablinks {
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                    }*/
                    .left-content {
                        display: inline-block;
                        width: 49%;
                        padding-left: 7%;
                        padding-right: 3%;
                        .single-listing-details-left {
                            p {
                                margin-bottom: 15px;
                                line-height: 30px;
                            }
                        }
                    }
                    .right-content {
                        display: inline-block;
                        width: 50%;
                        vertical-align: top;
                        padding-right: 7%;
                        .single-listing-details-right {
                            p {
                                margin-bottom: 15px;
                                line-height: 30px;
                            }
                        }
                    }
                }
            }
            .lern-reviews {
                margin-top: 4em;
                @include font($light...);
                padding: 0 10%;
                #reviews {
                    padding-right: 30%;
                    .woocommerce-noreviews {
                        display: none;
                    }
                    .commentlist {
                        hr {
                            background-color: black;
                            height: 1.2px;
                        }
                        hr:nth-child(1) {
                            display: none;
                        }
                        li {
                            margin-bottom: 20px;
                            time {
                                opacity: 0.8;
                            }
                            .comment_container {
                                padding-top: 20px;
                            }
                            img {
                                border-radius: 100%;
                                margin-right: 5%;
                            }
                            .avatar {
                                width: 80px;
                            }
                            .comment-text {
                                @include font($light...);
                                float: none;
                                width: 100%;
                                .meta {
                                    margin-bottom: 40px;
                                    line-height: 40px;
                                    .woocommerce-review__author {
                                        font-size: 24px;
                                    }
                                    .woocommerce-review__published-date {
                                        font-size: 20px;
                                    }
                                }
                                .description {
                                    font-size: 15px;
                                    padding-bottom: 30px;
                                    line-height: 25px;
                                }
                            }
                        }
                    }
                    .reviews {
                        padding-top: 30px;
                        font-size: 36px;
                        margin-bottom: 80px;
                    }
                }
            }
            /* Style the tab *
        div.lern-tab {
            height: 50px;
        }
        /* Style the buttons inside the tab *
        div.lern-tab button {
            color: $inactive-tab-font;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 0;
            transition: 0.3s;
            background-color: $inactive-tab-accent;
            font-size: 10pt;
            width: 20%;
            height: 50px;
            overflow: hidden;
            .yellow-bar{
                height: 3px;
                background-color: $primary-accent;
                display: none;
                width: 100%;
            }
            .button-title {
                line-height: 47px;
            }
        }
        /* Change background color of buttons on hover *
        div.lern-tab button:hover {
            background-color: #ddd;
        }
        /* Create an active/current tablink class *
        div.lern-tab button.active {
            background-color: $tab-background-accent;
            color: $text-accent;
            box-shadow: 0px 4px 8px 0px lightgrey;
            position: relative;
            .yellow-bar {
                display: block;
            }
        }
        .content {
            display: none;
            padding: 6px 12px;
            border: none;
            background-color: $tab-background-accent;
            padding-top: 2em;
            padding-left: 2em;
            padding-right: 2em;
            padding-bottom: 2em;
            box-shadow: 0px 4px 8px 0px lightgrey;
            position: relative;
        }*/
        }
    }
=======
.content-area {
	margin-bottom: 0;
}

.single-product div.product {
	overflow: visible;
	margin-top: 60px;
	.listing-hero {
		//background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(https://lernable.com/wp-content/themes/lernable/images/eddy-klaus-33079.jpg);
		//background-image: url("https://lernable.com/wp-content/themes/lernable/images/eddy-klaus-33079.jpg");
		//background-size: cover;
		//background-position: center;
		overflow: hidden;
		.hero-image {
			border-radius: 0;
			display: none;
			height: 350px;
			object-fit: cover;
		}
		.tagline {
			@include font($light...);
			margin-top: -104px;
			padding-left: 15px;
			font-size: 32px;
			color: white;
			margin-left: 5%;
		}
		.description {
			display: none;
			@include font($light...);
			font-size: 20px;
			width: 60%;
			padding-top: 15px;
			padding-left: 10%;
			color: white;
			margin-left: 5%;
			margin-bottom: 0;
			line-height: 28px;
		}
		.hero-controls {
			opacity: 0;
		}
		.badges {
			width: 20%;
			margin-left: 40%;
			display: inline-block;
			text-align: center;
			.carousel-badge {
				cursor: pointer;
				display: inline-block;
				background-color: white;
				border-radius: 100%;
				height: 4px;
				width: 4px;
				padding: 0;
				margin-left: 5%;
				margin-right: 5%;
			}
		}
	}
	.summary {
		width: 100%;
		float: none;
		vertical-align: top;
		display: inline-block;
		margin-bottom: 0;
		.info-block-container {
			padding: 0 10%;
		}
		.info-block {
			@include font($light...);
			margin-top: 40px;
			width: 100%;
			border: 1px solid #C3C3C3;
			border-radius: 5px;
			margin-bottom: 120px;
			.info-block-top {
				display: inline-block;
				width: 100%;
			}
			.product_title {
				font-size: 36px;
				font-weight: 600;
			}
			.with-host {
				font-size: 18px;
				padding-top: 10px;
			}
			.location-languages {
				padding-top: 30px;
				line-height: 25px;
			}
			.woocommerce-product-rating {
				margin: 1em 0 0 0;
				.star-rating {
					display: inline-block;
				}
				.woocommerce-review-link {
					text-decoration: none;
					vertical-align: top;
					line-height: 1.5;
					@include font($light...);
					span {
						vertical-align: top;
					}
				}
			}
			/* The Modal (background) */
			.modal {
				display: none;
				/* Hidden by default */
				position: fixed;
				/* Stay in place */
				z-index: 1;
				/* Sit on top */
				left: 0;
				top: 0;
				width: 100%;
				/* Full width */
				overflow: auto;
				/* Enable scroll if needed */
				background-color: rgb(0, 0, 0);
				/* Fallback color */
				background-color: rgba(0, 0, 0, 0.4);
				/* Black w/ opacity */
			}
			/* Modal Content/Box */
			.modal-content-form {
				@include font($light...);
				background-color: #fefefe;
				margin: 9% auto;
				/* 15% from the top and centered */
				padding: 20px;
				border: 1px solid #888;
				width: 60%;
				/* Could be more or less, depending on screen size */
				.modal-container {
					padding-left: 5%;
					padding-right: 5%;
					padding-bottom: 2%;
					.artist-bio-img-form {
						margin-top: 10px;
						display: inline-block;
						float: left;
						width: 80px;
						height: 80px;
						margin-right: 40px;
						overflow: hidden;
						border-radius: 100%;
					}
					.contact-title-container {
						width: 100%;
					}
					.contact-title {
						font-size: 30pt;
						padding-bottom: 30px;
						padding-top: 30px;
						display: inline-block;
					}
					label {
						@include font($light...);
						font-size: 10pt;
					}
					.name {
						display: inline-block;
						width: 44%;
						font-size: 10pt;
					}
					.email {
						display: inline-block;
						width: 55%;
						font-size: 10pt;
					}
					.message {
						padding-top: 25px;
						padding-bottom: 25px;
						font-size: 10pt;
					}
					.nameinput {
						width: 80%;
						padding-top: 8px;
					}
					.emailinput {
						width: 100%;
						padding-top: 8px;
					}
					.messageinput {
						width: 99.5%;
						height: 100px;
						padding-top: 8px;
						resize: none;
					}
					.sendbtn {
						text-align: right;
						input[type="submit"] {
							@include font($light...);
							color: white;
							background-color: $secondary-accent;
							border-radius: 5px;
							width: 70px;
							height: 40px;
							font-size: 10pt;
						}
					}
				}
			}
			.modal-content-thanks {
				@include font($light...);
				background-color: #fefefe;
				margin: 15% auto;
				/* 15% from the top and centered */
				padding: 20px;
				border: 1px solid #888;
				width: 60%;
				/* Could be more or less, depending on screen size */
				.modal-container {
					padding-left: 5%;
					padding-right: 5%;
					padding-bottom: 2%;
					.artist-bio-img-thanks {
						margin-top: 14px;
						display: inline-block;
						float: left;
						width: 100px;
						height: 100px;
						margin-right: 40px;
						overflow: hidden;
						border-radius: 100%;
					}
					.modal-thanks-text {
						display: inline-block;
						padding-top: 20px;
					}
					.thanks-title-container {
						width: 100%;
						padding-bottom: 50px;
						padding-top: 20px;
					}
					.thanks-title {
						font-size: 24pt;
						padding-bottom: 10px;
					}
					.getback {
						font-size: 14pt;
					}
					.back-button {
						text-align: right;
						button {
							@include font($light...);
							color: white;
							background-color: $secondary-accent;
							border-radius: 5px;
							width: 120px;
							height: 40px;
							font-size: 10pt;
						}
					}
				}
			}
			/* The Close Button */
			.close {
				color: #aaa;
				float: right;
				font-size: 40px;
				font-weight: bold;
			}
			.close:hover,
			.close:focus {
				color: black;
				text-decoration: none;
				cursor: pointer;
			}
			.contact-button {
				font-weight: strong;
				color: $secondary-accent;
				cursor: pointer;
			}
			.contact-button:hover {
				color: #4d8e8e;
			}
			.contact-button-before {
				padding-top: 8px;
			}
			.single-left-wrapper {
				width: 49%;
				display: inline-block;
				margin-right: 0;
				padding-left: 7%;
				padding-top: 50px;
				padding-right: 3%;
				.people-duration {
					margin-bottom: 1em;
					i {
						display: inline;
					}
					.next-to-icon {
						margin-left: 1em;
					}
					p {
						display: inline;
					}
					div {
						display: inline-block;
						width: 20px;
					}
				}
				h2 {
					margin-bottom: 1.5em;
				}
				.woocommerce-product-details__short-description {
					.quote-tag {
						font-size: 22pt;
						line-height: 32pt;
					}
					.artist-bio {
						.artist-bio-details>p {
							font-size: 18px;
						}
						.artist-bio-details {
							@include font($light...);
							font-size: 14pt;
							line-height: 21pt;
							display: inline-block;
							vertical-align: top;
						}
					}
					.listing-title {
						font-size: 18pt;
					}
				}
			}
			.single-right-wrapper {
				display: none;
				width: 100%;
				.calendar-close {
					display: inline;
				}
			}
			.lern-description {
				@include font($light...);
				margin-top: 60px;
				margin-bottom: 36px;
				/*.lern-tab .tablinks {
				  border-top-left-radius: 5px;
				  border-top-right-radius: 5px;
				  }*/
				.left-content {
					display: inline-block;
					width: 49%;
					padding-left: 7%;
					padding-right: 3%;
					.single-listing-details-left {
						p {
							margin-bottom: 15px;
							line-height: 30px;
						}
					}
				}
				.right-content {
					display: inline-block;
					width: 50%;
					vertical-align: top;
					padding-right: 7%;
					.single-listing-details-right {
						p {
							margin-bottom: 15px;
							line-height: 30px;
						}
					}
				}
			}
		}
		.lern-reviews {
			margin-top: 4em;
			@include font($light...);
			padding: 0 10%;
			#reviews {
				padding-right: 30%;
				.woocommerce-noreviews {
					display: none;
				}
				.commentlist {
					hr {
						background-color: black;
						height: 1.2px;
					}
					hr:nth-child(1) {
						display: none;
					}
					li {
						margin-bottom: 20px;
						time {
							opacity: 0.8;
						}
						.comment_container {
							padding-top: 20px;
						}
						img {
							border-radius: 100%;
							margin-right: 5%;
						}
						.avatar {
							width: 80px;
						}
						.comment-text {
							@include font($light...);
							float: none;
							width: 100%;
							.meta {
								margin-bottom: 40px;
								line-height: 40px;
								.woocommerce-review__author {
									font-size: 24px;
								}
								.woocommerce-review__published-date {
									font-size: 20px;
								}
							}
							.description {
								font-size: 15px;
								padding-bottom: 30px;
								line-height: 25px;
							}
						}
					}
				}
				.reviews {
					padding-top: 30px;
					font-size: 36px;
					margin-bottom: 80px;
				}
			}
		}
		.mobile-calendar-button {
			display: inline-block;
			width: 132px;
			height: 40px;
			background-color: $primary-accent;
			border-radius: 50px;
			@include font($light...);
			color: white;
			position: fixed;
			bottom: 15px;
			right: 25px;
			font-size: 14px;
			padding-top: 8px;
			padding-left: 17px;
		}
		/* Style the tab *
  div.lern-tab {
		height: 50px;
  }
  /* Style the buttons inside the tab *
  div.lern-tab button {
		color: $inactive-tab-font;
		float: left;
		border: none;
		outline: none;
		cursor: pointer;
		padding: 0;
		transition: 0.3s;
		background-color: $inactive-tab-accent;
		font-size: 10pt;
		width: 20%;
		height: 50px;
		overflow: hidden;
		.yellow-bar{
			 height: 3px;
			 background-color: $primary-accent;
			 display: none;
			 width: 100%;
		}
		.button-title {
			 line-height: 47px;
		}
  }
  /* Change background color of buttons on hover *
  div.lern-tab button:hover {
		background-color: #ddd;
  }
  /* Create an active/current tablink class *
  div.lern-tab button.active {
		background-color: $tab-background-accent;
		color: $text-accent;
		box-shadow: 0px 4px 8px 0px lightgrey;
		position: relative;
		.yellow-bar {
			 display: block;
		}
  }
  .content {
		display: none;
		padding: 6px 12px;
		border: none;
		background-color: $tab-background-accent;
		padding-top: 2em;
		padding-left: 2em;
		padding-right: 2em;
		padding-bottom: 2em;
		box-shadow: 0px 4px 8px 0px lightgrey;
		position: relative;
  }*/
	}
}

@media only screen and (min-width: 768px) {
	.single-product {
		div.product {
			.listing-hero {
				.hero-image {
					width: 100%;
					height: unset;
				}
				.tagline {
					padding-left: 10%;
					margin-top: -110px;
				}
				.description {
					display: inherit;
				}
				.badges {
					padding-top: 20px;
					padding-bottom: 20px;
					.carousel-badge {
						height: 6px;
						width: 6px;
					}
				}
				.hero-controls {
					margin-top: -400px;
					height: 300px;
					/*.arrow-oval {
						 display: inline-block;
						 height: 50px;
						 width: 50px;
						 border-radius: 100%;
						 background-color: rgba(255,255,255,0.2);
						 text-align: center;
						 opacity: 0;
					}
					.arrow-text {
						 display: inline-block;
						 padding-top: 13px;
						 opacity: 0.5;
					}*/
					.left-arrow {
						cursor: pointer;
						display: inline-block;
						padding-left: 65px;
						font-size: 40px;
						color: white;
						width: 30%;
						margin-right: 19%;
						height: 300px;
						padding-top: 150px;
						opacity: 0.5;
					}
					.left-arrow:hover {
						opacity: 1;
					}
					.right-arrow {
						cursor: pointer;
						display: inline-block;
						padding-right: 65px;
						font-size: 40px;
						color: white;
						margin-left: 20%;
						width: 30%;
						text-align: right;
						opacity: 0.5;
						height: 300px;
						padding-top: 150px;
					}
					.right-arrow:hover {
						opacity: 1;
					}
				}
			}
			.summary {
				.info-block {
					.single-right-wrapper {
						display: inline-block;
						width: 49%;
						vertical-align: top;
						padding-top: 50px;
						.calendar-close {
							display: none;
						}
					}
				}
				.mobile-calendar-button {
					display: none;
				}
			}
		}
	}
>>>>>>> 28e6aaafbf37917a1ca40f400cc343b7bfe32eb0
}