.site-header {
	@include font($light...);
	border-bottom: 0;
	position: fixed;
	background-color: transparent;
	background-image: url("https://lernable.com/wp-content/themes/lernable/images/navbar_background.png");
	background-size: cover;
	width: 100%;
	z-index: 10001;
	margin-bottom: 0;
	height: 60px;
	&:after {
		mix-blend-mode: difference;
		color: white;
	}
	.hamburger-buttons {
		display: inline-block;
		width: 35%;
		.hamburger {
			background: none;
			position: absolute;
			top: 0;
			left: 0;
			line-height: 45px;
			padding: 7px 0px 0px 24px;
			color: white !important;
			border: 0;
			font-size: 1.4em;
			font-weight: bold;
			cursor: pointer;
			outline: none;
			z-index: 10000;
		}
		.hamburger-cross {
			background: none;
			position: absolute;
			top: 0px;
			left: 0;
			padding: 7px 0px 0px 24px;
			color: white;
			border: 0;
			font-size: 3em;
			line-height: 45px;
			font-weight: normal;
			cursor: pointer;
			outline: none;
			z-index: 10000;
		}
	}
	.nav-menu-left {
		display: none;
	}
	.nav-menu-right {
		display: none;
	}
	.middle {
		display: inline-block;
		text-align: center;
		margin-right: 0;
		margin-left: 40%;
		margin-top: -21px;
		.custom-logo {
			display: inline-block;
			margin: 5px;
			height: 50px;
		}
	}
	/*
    .storefront-primary-navigation {
        clear: both;
        background: none;
        margin-left: 0px;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
        width: 60%;
        display: inline-block;
        .nav-menu li a {
            font-weight: 400;
        }
        #site-header-cart {
            display: none;
        }
        #site-navigation {
            width: 100%;
            margin-right: 0;
            .primary-navigation .menu-item {
                float: right;
                a {
                    padding: 1.8em 0 1.8em 3em;
                    color: #404040;
                    @include font($light...);
                }
                a:hover {
                    color: grey;
                }
            }
        }
    }*/
}

.hamburger-menu {
	background-image: url("https://lernable.com/wp-content/themes/lernable/images/navbar_background.png");
	background-size: cover;
	z-index: 1000;
	font-weight: bold;
	width: 100%;
	position: fixed;
	//text-align: center;
	padding-top: 71px;
	ul {
		@include font($light...);
		font-size: 24px;
		margin: 0;
		padding: 0;
		list-style-type: none;
		list-style-image: none;
		li {
			font-weight: 300;
			font-size: 20px;
			color: white;
			display: block;
			padding: 15px 0 15px 0;
		}
		.link {
			margin: 0 8%;
			border-top: rgba(255, 255, 255, 0.65) 0.5px solid;
		}
		.link:nth-child(1) {
			border-top: none;
		}
		li.soon {
			opacity: 0.65;
		}
	}
	a {
		text-decoration: none;
	}
}

@media only screen and (min-width: 768px) {
	.site-header {
		.hamburger-buttons {
			display: none;
		}
      .nav-menu {
			display: inline-block;
			overflow: visible;
			width: 40%;
			vertical-align: top;
      }
		.nav-menu.left {
			width: 40%;
			display: inline-block;
			padding-left: 10%;
			.nav-menu-item {
				display: inline-block;
				height: 78px;
				vertical-align: top;
				padding-top: 20px;
				padding-right: 4%;
				text-align: center;
                width: 200px;
                text-align: left;
				color: white;
				
				a {
					@include font($light...);
					color: white;
					text-decoration: none;
                    font-size: 14px;
                    word-wrap: normal;
				}
			}
		}
		.nav-menu.right {
			width: 40%;
			display: inline-block;
			float: right;
			padding-right: 10%;
			.nav-menu-item {
				display: inline-block;
				height: 60px;
				vertical-align: top;
				float: right;
				padding-top: 20px;
				text-align: center;
				
				a {
					@include font($light...);
					color: white;
					text-decoration: none;
                    font-size: 14px;
				}
			}
		}
		.middle {
			width: 18%;
			margin: 0;
			.custom-logo {
				margin-top: 5px;
				height: 50px;
			}
		}
	}
	.hamburger-menu {
		display: none;
	}
}