#post-6 {
	.woocommerce-order {
       margin-top: 60px;
		.page-title {
			@include font($light...);
			font-size: 36px;
			padding-top: 40px;
			padding-bottom: 40px;
		}
		.checkout-top {
			.checkout-image-container {
				width: 250px;
                height: 375px;
				overflow: hidden;
				display: none;
				margin-right: 22px;
				img.checkout-image {
					display: inline-block;
				}
			}
			.woocommerce-checkout-review-order {
				@include font($light...);
				float: none;
				display: inline-block;
				width: 100%;
				border: 0.8px solid #B6B6B6;
				border-radius: 5px;
				vertical-align: top;
				color: black;
				.order-review-container {
					padding: 20px;
					padding-left: 25px;
					padding-right: 25px;
                    height: auto;
					.woocommerce-order-details {
						.order-details-item {
							hr {
								margin: 0;
							}
							.order-review {
								.product-name {
									font-size: 22px;
									font-weight: 600;
									line-height: 30px;
                                    margin-bottom: 10px;
								}
								.with-host {
									font-size: 16px;
									line-height: 25px;
									padding-bottom: 10px;
								}
								.date {
									font-size: 18px;
									line-height: 30px;
								}
								.time {
									font-size: 14px;
									padding-bottom: 30px;
								}
								.product-total {
									font-size: 14px;
									padding-bottom: 14px;
									.product {
										display: inline-block;
										width: 70%;
										text-align: left;
                                        .ming-name{
                                            display: inline-block;
                                        }
									}
									.total {
										display: inline-block;
										width: 28%;
										text-align: right;
										vertical-align: top;
									}
								}
							}
						}
						.order-item-total {
							font-size: 14px;
							padding-top: 14px;
							.label {
								display: inline-block;
								width: 70%;
								text-align: right;
							}
							.total {
								display: inline-block;
								width: 28%;
								text-align: right;
							}
						}
					}
				}
			}
			.column-right {
				display: inline-block;
				@include font($light...);
				vertical-align: top;
				width: 100%;
				padding-left: 0;
                margin-top: 20px;
				color: black;
                line-height: 24px;
                margin-bottom: 30px;
				.thanks {
					font-size: 24px;
					padding-top: 8px;
					padding-bottom: 35px;
                    line-height: 32px;
				}
				.time-and-location {
					font-size: 18px;
					padding-bottom: 35px;
				}
				.details {
					font-size: 18px;
				}
				.email-reminder {
					font-size: 18px;
					padding-top: 22px;
				}
			}
		}
	}
}

   @media only screen and (min-width: 768px) {
       #post-6 .woocommerce-order .checkout-top { 
           .column-right{
                   width: calc(68% - 280px);
				padding-left: 28px;
               margin: 0;
           }
           .woocommerce-checkout-review-order{
               .order-review-container{
                   height: 375px;
               }
               width: 32%;
           }
           .checkout-image-container{
           display: inline-block;
       }
       }
}