.add-review-page {
	margin: 0 10%;
	margin-top: 60px;
	.lern-title {
		font-size: 36px;
		padding-top: 40px;
		padding-bottom: 25px;
	}
	div#respond.comment-respond {
		padding: 0;
		background-color: transparent;
		display: inline-block;
		width: 50%;
		vertical-align: top;
		.comment-form {
			@include font($light...);
			color: $text-accent;
			.comment-notes {
				display: none;
			}
			.comment-form-author {
				width: 50%;
				float: none;
				margin: 0;
				display: inline-block;
				padding-right: 10px;
				label {
					font-size: 12px;
				}
				#author {
					background-color: transparent;
					box-shadow: none;
					border: 0.8px solid #818181;
					border-radius: 2px;
					height: 32px;
					@include font($light...);
					font-size: 14px;
					color: $text-accent;
				}
			}
			.comment-form-email {
				width: 49%;
				float: none;
				margin: 0;
				display: inline-block;
				label {
					font-size: 12px;
				}
				#email {
					background-color: transparent;
					box-shadow: none;
					border: 0.8px solid #818181;
					border-radius: 2px;
					height: 32px;
					@include font($light...);
					font-size: 14px;
					color: $text-accent;
				}
			}
			.comment-form-comment {
				line-height: 18px;
				label {
					font-size: 12px;
				}
				#comment {
					background-color: transparent;
					box-shadow: none;
					border: 0.8px solid #818181;
					border-radius: 2px;
					margin-top: 12px;
					@include font($light...);
					font-size: 14px;
					color: $text-accent;
					resize: none;
					height: 150px;
				}
			}
			.comment-form-rating {
				margin: 18px 0;
				font-size: 18px;
			}
			span#review-next {
				margin-top: 25px;
				float: right;
				background-color: $secondary-accent;
				color: white;
				border-radius: 50px;
				width: 70px;
				height: 40px;
				line-height: 37px;
				@include font($light...);
				font-size: 16px;
				outline: none;
				text-align: center;
				cursor: pointer;
				margin-bottom: 40px;
			}
			span#review-next:hover {
				background-color: #479494;
			}
			.form-submit {
				display: none;
				position: relative;
				input#submit {
					display: block;
					@include font($light...);
					margin-top: -40px;
					float: right;
					background-color: $secondary-accent;
					color: white;
					border-radius: 50px;
					outline: none;
					width: 96px;
					height: 40px;
					font-size: 16px;
					line-height: 20px;
					margin-bottom: 44px;
				}
				input#submit:hover {
					background-color: #479494;
				}
			}
			#private-feedback-page {
				.improvement-text-label {
					@include font($light...);
					font-size: 12px;
				}
				.review-section-title {
					@include font($light...);
					font-size: 24px;
				}
				.review-section-text {
					@include font($light...);
					font-size: 12px;
				}
				.improvement-options {
					@include font($light...);
					padding-top: 12px;
					padding-bottom: 10px;
					.improvement-buttons {
						display: inline-block;
						cursor: pointer;
						border: 1px solid $text-accent;
						padding: 5px 12px;
						border-radius: 20px;
						margin: 0 3.2px;
						font-size: 12px;
						color: $text-accent;
					}
					.improvement-buttons.first {
						margin-left: 0;
					}
					.improvement-buttons.last {
						margin-right: 0;
					}
					.improvement-buttons:hover {
						background-color: $secondary-accent;
						color: white;
						border-color: $secondary-accent;
					}
				}
				#improvement-text {
					@include font($light...);
					background-color: transparent;
					box-shadow: none;
					border: 0.8px solid $text-accent;
					resize: none;
					border-radius: 2px;
					margin-top: 2px;
					height: 150px;
					font-size: 14px;
				}
				.optional-feedback-button {
					display: inline-block;
					cursor: pointer;
					border: 1px solid $text-accent;
					padding: 8px 15px;
					border-radius: 20px;
					margin-top: 22px;
					margin-left: 20%;
					font-size: 16px;
				}
				.optional-feedback-button:hover {
					background-color: $secondary-accent;
					color: white;
					border-color: $secondary-accent;
				}
			}
			#lernable-feedback-page {
				.review-section-title {
					@include font($light...);
					font-size: 24px;
				}
				.review-section-text {
					@include font($light...);
					font-size: 12px;
				}
				#lernable-feedback-text {
					@include font($light...);
					background-color: transparent;
					box-shadow: none;
					border: 0.8px solid $text-accent;
					resize: none;
					margin-top: 12px;
					margin-bottom: 64px;
					height: 189px;
					font-size: 14px;
				}
			}
		}
	}
	.review-image {
		display: inline-block;
		overflow: hidden;
		height: 314px;
		width: 49%;
		padding-left: 20px;
		img {
			padding-left: 0;
			width: 100%;
			object-fit: cover;
		}
	}
}

.thankyou-container {
	margin: 0 10%;
	margin-top: 60px;
	.thankyou-title {
		@include font($light...);
		font-size: 36px;
		padding: 40px 0;
	}
	.thankyou-content {
		vertical-align: top;
		width: 50%;
		display: inline-block;
		.thankyou-text {
			@include font($light...);
			font-size: 24px;
			padding-right: 30px;
			padding-bottom: 25px;
			line-height: 25px;
            color: $text-accent;
		}
		.thankyou-small {
			@include font($light...);
			font-size: 12px;
			padding-bottom: 42px;
			line-height: 16px;
			padding-right: 30px;
			a {
				color: $secondary-accent;
			}
		}
		a.back-to-home {
			background-color: $secondary-accent;
			@include font($light...);
			color: white;
			font-size: 18px;
			border-radius: 50px;
			padding: 8px 18px;
			outline: none;
		}
		a.back-to-home:hover {
			background-color: #479494;
		}
	}
	.thankyou-image {
		padding-left: 24px;
		display: inline-block;
		width: 49%;
		img {
			padding-left: 0;
			height: 300px;
			width: unset;
			object-fit: cover;
			overflow: hidden;
		}
	}
}