.tandp-container {
    margin: 0 10%;
    margin-left: 15%;
    margin-top: 60px;
    .learner-waiver-p{
        @include font($light...);
        padding-bottom: 20px;
        font-size: 18px;
        line-height: 32px;
    }
    ul.dash {
        list-style-type: disc;
        margin-left: 3%;
        font-size: 16px;
        line-height: 28px;
    }
    ol.num {
        @include font($light...);
        list-style-type: decimal;
        margin-left: 3%;
        margin-bottom: 100px;
        strong{
            list-style-type: none;
            padding-bottom: 20px;
            display: block;
            font-size: 18px;
        }
        li {
            font-size: 24px;
            line-height: 32px;
            padding-bottom: 20px;
        }
        ul.keyterms li {
            font-size: 18px;
            line-height: 24px;
            margin-left: 2%;
            padding-bottom: 12px;
        }
        ul.dash li {
            font-size: 18px;
        }
        ol.a2 {
            list-style-type: lower-alpha;
            margin-left: 5%;
            li {
                font-size: 18px;
                line-height: 32px;
            }
            ul.dash3 {
                list-style-type: disc;
                margin-left: 6%;
                li {
                    font-size: 18px;
                    line-height: 32px;
                }
            }
        }
        ol.a3 {
            list-style-type: lower-alpha;
            margin-left: 6%;
            li {
                font-size: 18px;
                padding-bottom: 10px;
            }
            p.nodash4 {
                font-size: 18px;
                line-height: 32px;
                padding-bottom: 20px;
            }
        }
    }
    h1.lern-title {
        @include font($light...);
        font-size: 40px;
        padding-bottom: 42px;
        padding-top: 42px;
    }
}

#post-111 {
    margin: 0;
}

#post-96 {
    margin: 0;
}
@media only screen and (min-width: 768px) {
    .tandp-container {
        margin-left: 10%;
    }
}