////Importing all fonts in from fonts folder
//
/*@font-face {
    font-family: 'OpenSans-Light';
    font-style: normal;
    font-weight: 300;
    src: url('OpenSans-Light.ttf') format ('truetype');
}

@font-face {
    font-family: OpenSans-Regular;
    font-style: normal;
    font-weight: 500;
    src: url('fonts/OpenSans-Regular.ttf') format ('truetype');
}

@font-face {
    font-family: OpenSans-Semibold;
    font-style: normal;
    font-weight: 600;
    src: url('fonts/OpenSans-Semibold.ttf') format ('truetype');
}*/

//Font Variables
$font: Open Sans;
$light: $font,
300;
$reg: $font,
500;
$bold: $font,
bold;
@mixin font($font,
$weight) {
    font-family: $font;
    font-weight: $weight;
}

$secondary-font: HelveticaNeue-Light;
$font-size: 11pt;
$font-color: #43454b;
$line-height: 16pt;
.font-reg {
    @include font($reg...);
}

h2 {
    @include font($light...);
    font-size: 1.5em;
}